@charset "utf-8";

h1 {
    color:#fa4616;
}

h3{
    color: #205081;
}

.listing {
    display:inline-block;
}

p {
    font-size:1.2em;
    margin-bottom: 3px;
}

a {
    text-decoration: none;
    color:black;
    
}

a:hover {
    text-decoration: none;
    color:#fa4616
}

@media (max-width: 1199px) {
    .container{ 
        padding-left:13%
    }
}

@media (max-width: 991px) {
    .container{ 
        width:100%;
    }
}

@media (max-width: 940px) {
    .container{ 
        padding-left:7%;
    }
}

@media (max-width: 875px) {
    .container{ 
        padding-left:5%;
    }
}

@media (max-width: 787px) {
    .listing{ 
        display: block;
    }
}

#loadMore {
    margin:40px auto;
    width:300px;
    background-color: #205081;
}

#loadMore:hover {
 background-color:#fa4616;
 border-color:#fa4616;   
}